$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

$back-Color:#222831;
$back-Color2: #393e46;
$text-Color:$back-Color;
$head-Color:#fafaf6;
$hover-Color:#eeeeee;


$padding:30px;