%heading{
    font-weight: bold;
    font-size: xx-large;
    font-family:inherit;
    color:$head-Color;
}
%pra{
    font-style: italic;
    color: $head-Color;
    font-weight: bolder;
}
